<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Send new message</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @message do |f| %>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_field :message, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :number %><br />
        <%= f.text_field :number, class: "form-control" %>
      </div>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
