<table class="table table-hover">
  <th>
    Message
  </th>
  <th>
  Number
  </th>
  <th>
    Status
  </th>
  <% @messages.each do |message| %>
  <tr>
    <td><%= message.message %></td>
    <td>  <%= message.number %></td>
    <td>  <%= message.status %></td>

  </tr>
  <% end %>
</table>

<%= link_to 'New Message', new_message_path %>
