<h2>Message</h2>
<p>
  <%= @message.message %> <br>
</p>

<h4>Number</h4>
<p>
  <%= @message.number %>
</p>
<h4>Status</h4>
<p>
  <%= @message.status %>
</p>

<%= link_to 'Back to messages', messages_path %>
