<table class="table table-hover">
  <th>
    Message
  </th>
  <th>
  Number
  </th>
  <th>
    Change Status
  </th>

  <th>
    Final Status
  </th>
  <% @messages.each do |message| %>
  <tr>
    <td><%= message.message %></td>
    <td>  <%= message.number %></td>
    <!-- <td>  <%= message.status %></td> -->
    <td>
      <%= form_tag(controller: "admin", action: "update_status", method: "post") do %>
        <select name="message_status">
        <option value="">Please select</option>
        <option value="pending" selected="selected">Pending</option>
        <option value="sent">Sent</option>
        <option value="rejected">Rejected</option>
        </select>
        <input type="submit" class="btn btn-info" value="Update">
        <input type="hidden" name="message_id" value="<%= message.id %>" >
      <% end %>
    </td>
    <td>
<%= message.status %>
    </td>

  </tr>
  <% end %>
</table>

<%= link_to 'New Message', new_message_path %>
