<p><h2>Welcome </h2> <h4> <%= current_user.email %></h4></p>

You can <br>
<ul>
  <li><%= link_to 'View Messages & Status', messages_path %></li>
  <li><%= link_to 'Send New Message', new_message_path %></li>
</ul>
