<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Hello, world!
				</h2>
				<p>
					Welcome to Cool Messages.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="users/sign_up">Sign Up</a>
				</p>
			</div>
		</div>
	</div>
</div>
